<html>
    <head>
        <title> trendy gifs</title>
    </head>
    <h1> SEARCH GIFS ON TWITTER </h1>
    <body>
      <p>
      <form method="post" action="/results ">
      </p>
      <label for = "gif_amt"> Amount of GIFS </label> <br>
      <input type = "number" name = "quantity" min = "1" max = "30"
      <label for="name">Name: </label> <br>
      <input type='text' name='name'>
      <label for="email">Email</label> <br>
      <input type='Email' name='email'>
      <input type='Submit'>
  </form>
</body>
</html>
